@import "bootstrap-sprockets";
@import "bootstrap";
body.body{
  margin-top: 0;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #333;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}